<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2020 The MoKee Open Source Project

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mokee.device.parts"
    android:sharedUserId="android.uid.system">
</manifest>
